# Credentials
.env

# Python
__pycache__/
*.pyc
# Ignore Python path config files in virtualenvs but NOT our model weights
.venv/**/*.pth
venv/**/*.pth

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db
